In [1]:
# The problem is to find out the properties of a product, and store which impacts the sales 
#   of a product
# I will explore the problem in following stages:
# 1 Hypothesis Generation – understanding the problem better by brainstorming possible factors 
#    that can impact the outcome
# 2 Data Exploration – looking at categorical and continuous feature summaries and making 
#    inferences about the data.
# 3 Data Cleaning – imputing missing values in the data and checking for outliers
# 4 Feature Engineering – modifying existing variables and creating new ones for analysis
# 5 Model Building – making predictive models on the data

THE HYPOTHESES

In [1]:
# Store Level Hypotheses:
# City type: Stores located in urban or Tier 1 cities should have higher sales because of 
#     the higher income levels of people there.
# Population Density: Stores located in densely populated areas should have higher sales 
#     because of more demand.
# Store Capacity: Stores which are very big in size should have higher sales as they act 
#     like one-stop-shops and people would prefer getting everything from one place
# Competitors: Stores having similar establishments nearby should have less sales because 
#     of more competition.
# Marketing: Stores which have a good marketing division should have higher sales as it will 
#     be able to attract customers through the right offers and advertising.
# Location: Stores located within popular marketplaces should have higher sales because 
#     of better access to customers.
# Customer Behavior: Stores keeping the right set of products to meet the local needs 
#     of customers will have higher sales.
# Ambiance: Stores which are well-maintained and managed by polite and humble people 
#     are expected to have higher footfall and thus higher sales.

In [2]:
# Product Level Hypotheses:
# Brand: Branded products should have higher sales because of higher trust in the customer.
# Packaging: Products with good packaging can attract customers and sell more.
# Utility: Daily use products should have a higher tendency to sell as compared to the 
#     specific use products.
# Display Area: Products which are given bigger shelves in the store are likely to catch 
#     attention first and sell more.
# Visibility in Store: The location of product in a store will impact sales. Ones which 
#     are right at entrance will catch the eye of customer first rather than the ones in back.
# Advertising: Better advertising of products in the store will should higher sales in 
#     most cases.
# Promotional Offers: Products accompanied with attractive offers and discounts will sell more.

In [3]:
# The data might not be sufficient to test all of these, but forming these gives us a better 
# understanding of the problem and we can even look for open source information if available.

DATA EXPLORATION

In [2]:
# Start by loading the required libraries and data
import pandas as pd
import numpy as np
# Read file
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')

In [3]:
# I will combine both train and test data sets into one, perform feature engineering and then 
# divide them later again.
# Add a Source column to define where each observation belongs
train['source'] = 'train'
test['source'] = 'test'
# Concat 2 dataframe
data = pd.concat([train,test],ignore_index=True)
print(train.shape, test.shape, data.shape)

(8523, 13) (5681, 12) (14204, 13)

In [4]:
# Lets start by checking which columns contain missing values.
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
source                          0
dtype: int64

In [5]:
# Note that the Item_Outlet_Sales is the target variable and missing values are ones in the 
# test set. So we need not worry about it. But we’ll impute the missing values in Item_Weight 
# and Outlet_Size in the data cleaning section.
# Lets look at some basic statistics for numerical variables.
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914
std,4.652502,0.051459,62.086938,8.371664,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [13]:
# Some observations:
# 1. Item_Visibility has a min value of zero. This makes no practical sense because when a 
# product is being sold in a store, the visibility cannot be 0.
# 2. Outlet_Establishment_Years vary from 1985 to 2009. The values might not be apt in this 
# form. Rather, if we can convert them to how old the particular store is, it should have a 
# better impact on sales.
# 3. The lower ‘count’ of Item_Weight and Item_Outlet_Sales confirms the findings from the 
# missing value check.

In [6]:
# Moving to nominal (categorical) variable, lets have a look at the number of unique values 
# in each of them
data.nunique()

Item_Identifier               1559
Item_Weight                    415
Item_Fat_Content                 5
Item_Visibility              13006
Item_Type                       16
Item_MRP                      8052
Outlet_Identifier               10
Outlet_Establishment_Year        9
Outlet_Size                      3
Outlet_Location_Type             3
Outlet_Type                      4
Item_Outlet_Sales             3493
source                           2
dtype: int64

In [16]:
# This tells us that there are 1559 products and 10 outlets/stores
# Another thing that should catch attention is that Item_Type has 16 unique values
# Let’s explore further using the frequency of different categories in each nominal variable

In [7]:
# Filter categorical variables
categorical_columns = [x for x in data.dtypes.index if data.dtypes[x]=='object']
#Exclude ID cols and source:
categorical_columns = [x for x in categorical_columns if x not in 
                       ['Item_Identifier','Outlet_Identifier','source']]
#Print frequency of categories
for col in categorical_columns:
    print('\nFrequency of Categories for varible {}'.format(col))
    print(data[col].value_counts())

Frequency of Categories for varible Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

Frequency of Categories for varible Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64

Frequency of Categories for varible Outlet_Size
Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

Frequency of Categories for varible Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64

Frequency of Categories for varible Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [27]:
# The output gives us following observations:
# 1. Item_Fat_Content: Some of ‘Low Fat’ values mis-coded as ‘low fat’ and ‘LF’. Also, some of 
# ‘Regular’ are mentioned as ‘regular’.
# 2. Item_Type: Not all categories have substantial numbers. It looks like combining them can 
# give better results.
# 3. Outlet_Type: Supermarket Type2 and Type3 can be combined. But we should check if that’s 
# a good idea before doing it.

DATA CLEANING

In [8]:
# We found two variables with missing values – Item_Weight and Outlet_Size. 
# Lets impute the former by the average weight of the particular item
# Determine the average weight per item:
item_avg_weight = data.pivot_table(values='Item_Weight', index='Item_Identifier')
#Get a boolean variable specifying missing Item_Weight values
miss_bool = data['Item_Weight'].isnull() 
#Impute data and check #missing values before and after imputation to confirm
print('Orignal missing: {}'.format(sum(miss_bool)))
data.loc[miss_bool,'Item_Weight'] = data.loc[miss_bool,'Item_Identifier'].apply(lambda x: item_avg_weight.loc[x,:])
print('Final missing: {}'.format(sum(data['Item_Weight'].isnull())))

Orignal missing: 2439
Final missing: 0

In [9]:
# This confirms that the column has no missing values now. Lets impute Outlet_Size with 
# the mode of the Outlet_Size for the particular type of outlet.
#Import mode function:
from scipy.stats import mode

In [10]:
#Determing the mode for each
outlet_size_mode = data.pivot_table(values='Outlet_Size', columns='Outlet_Type',
                                    aggfunc=(lambda x:mode(x).mode[0]) )
print('Mode for each Outlet_Type:')
print(outlet_size_mode)
#Get a boolean variable specifying missing Item_Weight values
miss_bool = data['Outlet_Size'].isnull()

Mode for each Outlet_Type:
Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size         Small             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium

In [11]:
#Impute data and check #missing values before and after imputation to confirm
print('\nOrignal #missing: {}'.format(sum(miss_bool)))
data.loc[miss_bool,'Outlet_Size'] = data.loc[miss_bool,'Outlet_Type'].apply(lambda x: outlet_size_mode[x])
print(sum(data['Outlet_Size'].isnull()))

Orignal #missing: 4016
0

FEATURE ENGINEERING

In [13]:
# Check mean sales of Supermarket Type2 and Type3 variables. If they are similar, combine them
data.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

In [29]:
# This shows significant difference between them and we’ll leave them as it is
# Modify Item_Visibility
# Determine average visibility of a product
visibility_avg = data.pivot_table(values='Item_Visibility',index='Item_Identifier')
# Impute 0 values with mean visibility of that product:
miss_bool = (data['Item_Visibility']==0)
print('Number of 0 values initially: {}'.format(sum(miss_bool)))
data.loc[miss_bool,'Item_Visibility'] = data.loc[miss_bool,'Item_Identifier'].apply(lambda x : visibility_avg.loc[x,:])
print('Number of 0 values after modification: {}'.format((data['Item_Visibility']==0).sum()))

Number of 0 values initially: 879
Number of 0 values after modification: 0

In [38]:
# Create a broad category of Type of Item
# Get the first two characters of ID:
data['Item_Type_Combined'] = data['Item_Identifier'].str[0:2]
# Rename them to more intuitive categories:
data['Item_Type_Combined'] = data['Item_Type_Combined'].map({'FD':'Food','DR':'Drink','NC':'Non-Consumable'})
data['Item_Type_Combined'].value_counts()

Food              10201
Non-Consumable     2686
Drink              1317
Name: Item_Type_Combined, dtype: int64

In [40]:
# make a new column depicting the years of operation of a store.
data['Outlet_Years'] = 2013 - data['Outlet_Establishment_Year']
data['Outlet_Years'].describe()

count    14204.000000
mean        15.169319
std          8.371664
min          4.000000
25%          9.000000
50%         14.000000
75%         26.000000
max         28.000000
Name: Outlet_Years, dtype: float64

In [41]:
# This shows stores which are 4-28 years old.

In [43]:
# Modify categories of Item_Fat_Content
# Change categories of low fat:
print('Original categories of low fat:')
print(data['Item_Fat_Content'].value_counts())
data['Item_Fat_Content'] = data['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print('Categories of Fat Content after modified:')
print(data['Item_Fat_Content'].value_counts())

Original categories of low fat:
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64
Categories of Fat Content after modified:
Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [48]:
# Mark non-consumables as separate category in low_fat:
data.loc[data['Item_Type_Combined']=='Non-Consumable','Item_Fat_Content'] = 'Non-Edible'
data['Item_Fat_Content'].value_counts()

Low Fat       6499
Regular       5019
Non-Edible    2686
Name: Item_Fat_Content, dtype: int64

In [49]:
# Since scikit-learn accepts only numerical variables, I converted all categories of nominal variables into numeric types
# I created a new variable ‘Outlet’ same as Outlet_Identifier and coded that
# Outlet_Identifier should remain as it is, because it will be required in the submission file.
# Import library:
from sklearn.preprocessing import LabelEncoder

In [51]:
# coding all categorical variables as numeric using ‘LabelEncoder’
le = LabelEncoder()
# New variable for outlet
data['Outlet'] = le.fit_transform(data['Outlet_Identifier'])
var_mod = ['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet']
le = LabelEncoder()
for i in var_mod:
    data[i] = le.fit_transform(data[i])

In [53]:
#One Hot Coding:
data = pd.get_dummies(data, columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type',
                              'Item_Type_Combined','Outlet'])

In [57]:
data[['Item_Fat_Content_0','Item_Fat_Content_1','Item_Fat_Content_2']].head(10)
# You can notice that each row will have only one of the columns as 1 corresponding to the category in the original variable.

   Item_Fat_Content_0  Item_Fat_Content_1  Item_Fat_Content_2
0                   1                   0                   0
1                   0                   0                   1
2                   1                   0                   0
3                   0                   0                   1
4                   0                   1                   0
5                   0                   0                   1
6                   0                   0                   1
7                   1                   0                   0
8                   0                   0                   1
9                   0                   0                   1

In [59]:
# Final step is to convert data back into train and test data sets
#Drop the columns which have been converted to different types:
data.drop(['Item_Type','Outlet_Establishment_Year'],axis=1,inplace=True)
#Divide into test and train:
train = data.loc[data['source']=="train"]
test = data.loc[data['source']=="test"]
#Drop unnecessary columns:
test.drop(['Item_Outlet_Sales','source'],axis=1,inplace=True)
train.drop(['source'],axis=1,inplace=True)
#Export files as modified versions:
train.to_csv("train_modified.csv",index=False)
test.to_csv("test_modified.csv",index=False)

C:\Users\KETOAN\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,